In [1]:
#Считайте датасет из файла train.csv (это данные о выживаемости на Титанике) с помощью polars - 1 балл
#
#Выведите основную информацию о датасете: информацию о типах данных, число пропусков, средние значения и т.д. - 1 балл
#hint: используйте методы и атрибуты датафрейма: describe(), dtypes, null_count(), mean()...

import polars as pl
df = pl.read_csv("train.csv")
print("Размер:", df.shape)
print("\nТипы данных:")
print(df.dtypes)
print("\nПропуски:")
print(df.null_count())
print("\nОписательные статистики:")
print(df.describe())
print(df.mean())

Размер: (891, 12)

Типы данных:
[Int64, Int64, Int64, String, String, Float64, Int64, Int64, String, Float64, String, String]

Пропуски:
shape: (1, 12)
┌─────────────┬──────────┬────────┬──────┬───┬────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name ┆ … ┆ Ticket ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆   ┆ ---    ┆ ---  ┆ ---   ┆ ---      │
│ u32         ┆ u32      ┆ u32    ┆ u32  ┆   ┆ u32    ┆ u32  ┆ u32   ┆ u32      │
╞═════════════╪══════════╪════════╪══════╪═══╪════════╪══════╪═══════╪══════════╡
│ 0           ┆ 0        ┆ 0      ┆ 0    ┆ … ┆ 0      ┆ 0    ┆ 687   ┆ 2        │
└─────────────┴──────────┴────────┴──────┴───┴────────┴──────┴───────┴──────────┘

Описательные статистики:
shape: (9, 13)
┌────────────┬─────────────┬──────────┬──────────┬───┬───────────┬───────────┬───────┬──────────┐
│ statistic  ┆ PassengerId ┆ Survived ┆ Pclass   ┆ … ┆ Ticket    ┆ Fare      ┆ Cabin ┆ Embarked │
│ ---        ┆ ---         ┆ ---      ┆ ---      ┆   ┆ ---       ┆ ---       ┆ ---   ┆ ---      │
│ str        ┆ f64         ┆ f64      ┆ f64      ┆   ┆ str       ┆ f64       ┆ str   ┆ str      │
╞════════════╪═════════════╪══════════╪══════════╪═══╪═══════════╪═══════════╪═══════╪══════════╡
│ count      ┆ 891.0       ┆ 891.0    ┆ 891.0    ┆ … ┆ 891       ┆ 891.0     ┆ 204   ┆ 889      │
│ null_count ┆ 0.0         ┆ 0.0      ┆ 0.0      ┆ … ┆ 0         ┆ 0.0       ┆ 687   ┆ 2        │
│ mean       ┆ 446.0       ┆ 0.383838 ┆ 2.308642 ┆ … ┆ null      ┆ 32.204208 ┆ null  ┆ null     │
│ std        ┆ 257.353842  ┆ 0.486592 ┆ 0.836071 ┆ … ┆ null      ┆ 49.693429 ┆ null  ┆ null     │
│ min        ┆ 1.0         ┆ 0.0      ┆ 1.0      ┆ … ┆ 110152    ┆ 0.0       ┆ A10   ┆ C        │
│ 25%        ┆ 224.0       ┆ 0.0      ┆ 2.0      ┆ … ┆ null      ┆ 7.925     ┆ null  ┆ null     │
│ 50%        ┆ 446.0       ┆ 0.0      ┆ 3.0      ┆ … ┆ null      ┆ 14.4542   ┆ null  ┆ null     │
│ 75%        ┆ 669.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ null      ┆ 31.0      ┆ null  ┆ null     │
│ max        ┆ 891.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ WE/P 5735 ┆ 512.3292  ┆ T     ┆ S        │
└────────────┴─────────────┴──────────┴──────────┴───┴───────────┴───────────┴───────┴──────────┘
shape: (1, 12)
┌─────────────┬──────────┬──────────┬──────┬───┬────────┬───────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass   ┆ Name ┆ … ┆ Ticket ┆ Fare      ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---      ┆ ---  ┆   ┆ ---    ┆ ---       ┆ ---   ┆ ---      │
│ f64         ┆ f64      ┆ f64      ┆ str  ┆   ┆ str    ┆ f64       ┆ str   ┆ str      │
╞═════════════╪══════════╪══════════╪══════╪═══╪════════╪═══════════╪═══════╪══════════╡
│ 446.0       ┆ 0.383838 ┆ 2.308642 ┆ null ┆ … ┆ null   ┆ 32.204208 ┆ null  ┆ null     │
└─────────────┴──────────┴──────────┴──────┴───┴────────┴───────────┴───────┴──────────┘

In [2]:
#Посчитайте количество пассажиров каждого класса (Pclass) - 1 балл
#hint: используйте методы: get_column(), value_counts()...
print(df.get_column("Pclass").value_counts().sort("Pclass"))

shape: (3, 2)
┌────────┬───────┐
│ Pclass ┆ count │
│ ---    ┆ ---   │
│ i64    ┆ u32   │
╞════════╪═══════╡
│ 1      ┆ 216   │
│ 2      ┆ 184   │
│ 3      ┆ 491   │
└────────┴───────┘

In [3]:
#Выведите количество выживших мужчин и женщин на корабле - 1 балл
#hint: используйте методы: groupby(), agg(), pl.col(), sum()...
survivors_by_sex = df.group_by("Sex").agg(
    pl.col("Survived").sum().alias("survived_count")
).sort("Sex")
print(survivors_by_sex)

shape: (2, 2)
┌────────┬────────────────┐
│ Sex    ┆ survived_count │
│ ---    ┆ ---            │
│ str    ┆ i64            │
╞════════╪════════════════╡
│ female ┆ 233            │
│ male   ┆ 109            │
└────────┴────────────────┘

In [4]:
#Выведите часть таблицы с пассажирами, возраст которых больше 44 лет - 1 балл
#hint: используйте методы: filter(), pl.col()...
older_passengers = df.filter(pl.col("Age") > 44)
print(older_passengers)

shape: (115, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 7           ┆ 0        ┆ 1      ┆ McCarthy, Mr.    ┆ … ┆ 17463      ┆ 51.8625 ┆ E46   ┆ S        │
│             ┆          ┆        ┆ Timothy J        ┆   ┆            ┆         ┆       ┆          │
│ 12          ┆ 1        ┆ 1      ┆ Bonnell, Miss.   ┆ … ┆ 113783     ┆ 26.55   ┆ C103  ┆ S        │
│             ┆          ┆        ┆ Elizabeth        ┆   ┆            ┆         ┆       ┆          │
│ 16          ┆ 1        ┆ 2      ┆ Hewlett, Mrs.    ┆ … ┆ 248706     ┆ 16.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ (Mary D          ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ Kingcome…        ┆   ┆            ┆         ┆       ┆          │
│ 34          ┆ 0        ┆ 2      ┆ Wheadon, Mr.     ┆ … ┆ C.A. 24579 ┆ 10.5    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Edward H         ┆   ┆            ┆         ┆       ┆          │
│ 53          ┆ 1        ┆ 1      ┆ Harper, Mrs.     ┆ … ┆ PC 17572   ┆ 76.7292 ┆ D33   ┆ C        │
│             ┆          ┆        ┆ Henry Sleeper    ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (My…             ┆   ┆            ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 858         ┆ 1        ┆ 1      ┆ Daly, Mr. Peter  ┆ … ┆ 113055     ┆ 26.55   ┆ E17   ┆ S        │
│             ┆          ┆        ┆ Denis            ┆   ┆            ┆         ┆       ┆          │
│ 863         ┆ 1        ┆ 1      ┆ Swift, Mrs.      ┆ … ┆ 17466      ┆ 25.9292 ┆ D17   ┆ S        │
│             ┆          ┆        ┆ Frederick Joel   ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Ma…             ┆   ┆            ┆         ┆       ┆          │
│ 872         ┆ 1        ┆ 1      ┆ Beckwith, Mrs.   ┆ … ┆ 11751      ┆ 52.5542 ┆ D35   ┆ S        │
│             ┆          ┆        ┆ Richard Leonard… ┆   ┆            ┆         ┆       ┆          │
│ 874         ┆ 0        ┆ 3      ┆ Vander Cruyssen, ┆ … ┆ 345765     ┆ 9.0     ┆ null  ┆ S        │
│             ┆          ┆        ┆ Mr. Victor       ┆   ┆            ┆         ┆       ┆          │
│ 880         ┆ 1        ┆ 1      ┆ Potter, Mrs.     ┆ … ┆ 11767      ┆ 83.1583 ┆ C50   ┆ C        │
│             ┆          ┆        ┆ Thomas Jr (Lily  ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ A…               ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

In [5]:
#Считайте датасет из файла train.csv (это данные о выживаемости на Титанике) с помощью pandas
import pandas as pd
df = pd.read_csv('train.csv')

In [6]:
#Посчитайте средний возраст пассажиров и его стандартное отклонение с помощью bottleneck - 1 бал
#hint: используйте методы: bn.nanmean(), bn.nanstd()
import bottleneck as bn
age_array = df['Age'].values
mean_age = bn.nanmean(age_array)
std_age = bn.nanstd(age_array)

print(f"Средний возраст пассажиров: {mean_age:.2f} лет")
print(f"Стандартное отклонение: {std_age:.2f} лет")

Средний возраст пассажиров: 29.70 лет
Стандартное отклонение: 14.52 лет

In [7]:
#Для каждого пассажира умножьте значение столбца Fare на 1.3 и сохраните результаты как новый столбец Fare_new - 1 балл
#hint: используйте методы: .itertuples() или apply()

fare_list = [row.Fare * 1.3 for row in df.itertuples()]
df['Fare_new'] = pd.Series(fare_list).apply(lambda x: round(x, 1))
print(df[['PassengerId', 'Fare', 'Fare_new']].head())

   PassengerId     Fare  Fare_new
0            1   7.2500       9.4
1            2  71.2833      92.7
2            3   7.9250      10.3
3            4  53.1000      69.0
4            5   8.0500      10.5

In [8]:
#1. Считайте датасет из файла Housing.csv (это данные о ценах домов) с помощью pandas
df = pd.read_csv('Housing.csv')
print(df.head())

      price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0  13300000  7420         4          2        3      yes        no       no
1  12250000  8960         4          4        4      yes        no       no
2  12250000  9960         3          2        2      yes        no      yes
3  12215000  7500         4          2        2      yes        no      yes
4  11410000  7420         4          1        2      yes       yes      yes

  hotwaterheating airconditioning  parking prefarea furnishingstatus
0              no             yes        2      yes        furnished
1              no             yes        3       no        furnished
2              no              no        2      yes   semi-furnished
3              no             yes        3      yes        furnished
4              no             yes        2       no        furnished

In [9]:
#2. Для каждого столбца определите оптимальный с точки зрения потребления памяти тип данных - напишите свои выводы в комментариях - 2 балла
for col in df.columns:
    dtype = df[col].dtype
    unique = df[col].nunique() if dtype == 'object' else None
    min_val = df[col].min() if dtype != 'object' else None
    max_val = df[col].max() if dtype != 'object' else None

    print(f"\n{col}:")
    print(f"  Текущий тип: {dtype}")

    if dtype == 'object':
        if unique < len(df) * 0.5:
            print(f"Рекомендация: 'category'")
        else:
            print(f"Оставить 'object'")
    elif 'int' in str(dtype):
        if max_val < 256:
            print(f"Рекомендация: 'int8'")
        elif max_val < 65536:
            print(f"Рекомендация: 'int16'")
    elif 'float' in str(dtype):
        print(f"Для точности оставить float64")

#столбцы с 'yes/no' или ограниченным набором значений могут быть преобразованы в тип 'category':
#mainroad, guestroom, basement, hotwaterheating, airconditioning, prefarea - бинарные признаки
#furnishingstatus - 3 категории
#Экономия памяти: 70-90%

#Колонки имеют ограниченный диапазон и могут быть уменьшены:
#bedrooms (2-6) → uint8
#bathrooms (1-4) → uint8
#stories (1-4) → uint8
#parking (0-3) → uint8
#Экономия памяти: 75% (с int64 до uint8)

#Колонки требуют баланса между точностью и памятью: чем выше точность — тем больше памяти потребуется.
#price - лучше оставить float64 для точности
#area - можно использовать float32 или uint16

price:
  Текущий тип: int64

area:
  Текущий тип: int64
Рекомендация: 'int16'

bedrooms:
  Текущий тип: int64
Рекомендация: 'int8'

bathrooms:
  Текущий тип: int64
Рекомендация: 'int8'

stories:
  Текущий тип: int64
Рекомендация: 'int8'

mainroad:
  Текущий тип: object
Рекомендация: 'category'

guestroom:
  Текущий тип: object
Рекомендация: 'category'

basement:
  Текущий тип: object
Рекомендация: 'category'

hotwaterheating:
  Текущий тип: object
Рекомендация: 'category'

airconditioning:
  Текущий тип: object
Рекомендация: 'category'

parking:
  Текущий тип: int64
Рекомендация: 'int8'

prefarea:
  Текущий тип: object
Рекомендация: 'category'

furnishingstatus:
  Текущий тип: object
Рекомендация: 'category'

In [10]:
#Поменяйте типы данных столбцов датафрейма на выбранные вами в прошлом пункте и сравните потребление памяти до и после оптимизации
df_orig = df.copy()
categorical = ['mainroad', 'guestroom', 'basement', 'hotwaterheating',
               'airconditioning', 'prefarea', 'furnishingstatus']
for col in categorical:
    df[col] = df[col].astype('category')

df['bedrooms'] = df['bedrooms'].astype('uint8')
df['bathrooms'] = df['bathrooms'].astype('uint8')
df['stories'] = df['stories'].astype('uint8')
df['parking'] = df['parking'].astype('uint8')
#df['area'] = df['area'].astype('int16')

before = df_orig.memory_usage(deep=True).sum()
after = df.memory_usage(deep=True).sum()

print(f"До: {before/1024:.1f} KB")
print(f"После: {after/1024:.1f} KB")
print(f"Экономия: {(before-after)/1024:.1f} KB ({(1-after/before)*100:.1f}%)")

До: 221.9 KB
После: 16.0 KB
Экономия: 205.9 KB (92.8%)