In [1]:
import pandas as pd
import re

#Считайте датасет из файла train.csv (это данные о выживаемости на Титанике) - 1 балл
df = pd.read_csv('train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [2]:
#Выведите основную информацию о датасете: информацию о типах данных, число пропусков, средние значения и т.д. - 1 балл
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [3]:
#Посчитайте процент выживаемости у каждого класса пассажиров (Pclass) - 1 балл
df.groupby('Pclass')['Survived'].agg([
    ('total_passengers', 'count'),
    ('survived_count', 'sum'),
    ('survival_rate', lambda x: (x.sum() / x.count() * 100).round(2))
])

        total_passengers  survived_count  survival_rate
Pclass
1                    216             136          62.96
2                    184              87          47.28
3                    491             119          24.24

In [4]:
#Выведите самое популярное мужское и самое популярное женское имя на корабле - 1 балл
def extract_first_name(full_name):
    # всё до запятой
    name_part = full_name.split(',')[1] if ',' in full_name else full_name
    # для замужних женщин
    bracket = re.search(r'\(([^)]+)\)', name_part)
    if bracket:
        name_in_brackets = bracket.group(1)
        # Берем первое слово из скбк
        return name_in_brackets.split()[0]
    # по регулярке Mr., Mrs., Miss, Ms., Master, Dr. и т.д.
    name_match = re.search(r'(?:Mr|Mrs|Miss|Ms|Master|Dr|Col|Major|Capt|Don|Dona|Countess|Mme|Mlle|Lady|Sir)\.?\s+([A-Za-z]+)', name_part)
    if name_match:
        return name_match.group(1)
    words = name_part.split()
    if len(words) >= 2:
        return words[1]
    return full_name

df['FirstName'] = df['Name'].apply(extract_first_name)

# популярные имена по полу
male_names = df[df['Sex'] == 'male']['FirstName'].value_counts()
female_names = df[df['Sex'] == 'female']['FirstName'].value_counts()

print("Самые популярные имена на Титанике:")
print("=" * 50)
print(f"Мужское имя: '{male_names.index[0]}' (встречается {male_names.iloc[0]} раз)")
print(f"Женское имя: '{female_names.index[0]}' (встречается {female_names.iloc[0]} раз)")

Самые популярные имена на Титанике:
==================================================
Мужское имя: 'William' (встречается 35 раз)
Женское имя: 'Anna' (встречается 15 раз)

In [5]:
#Выведите самое популярное мужское и самое популярное женское имя на корабле в каждом классе - 2 балла
popular_names_by_class = df.groupby(['Pclass', 'Sex'])['FirstName'].agg(lambda x: x.value_counts().index[0]).reset_index()
print(popular_names_by_class)

   Pclass     Sex  FirstName
0       1  female  Elizabeth
1       1    male    William
2       2  female  Elizabeth
3       2    male    William
4       3  female       Anna
5       3    male    William

In [6]:
#Выведите часть таблицы с пассажирами, возраст которых больше 44 лет - 1 балл
columns_to_show = ['PassengerId', 'Name', 'Age', 'Sex', 'Pclass', 'Survived', 'SibSp', 'Parch', 'Fare']
pass_over_44 = df[df['Age'] > 44][columns_to_show]
print(pass_over_44.to_string(index=False))

 PassengerId                                                              Name  Age    Sex  Pclass  Survived  SibSp  Parch     Fare
           7                                           McCarthy, Mr. Timothy J 54.0   male       1         0      0      0  51.8625
          12                                          Bonnell, Miss. Elizabeth 58.0 female       1         1      0      0  26.5500
          16                                  Hewlett, Mrs. (Mary D Kingcome)  55.0 female       2         1      0      0  16.0000
          34                                             Wheadon, Mr. Edward H 66.0   male       2         0      0      0  10.5000
          53                          Harper, Mrs. Henry Sleeper (Myna Haxtun) 49.0 female       1         1      1      0  76.7292
          55                                    Ostby, Mr. Engelhart Cornelius 65.0   male       1         0      0      1  61.9792
          63                                       Harris, Mr. Henry Birkhardt 45.0   male       1         0      1      0  83.4750
          93                                       Chaffee, Mr. Herbert Fuller 46.0   male       1         0      1      0  61.1750
          95                                                 Coxon, Mr. Daniel 59.0   male       3         0      0      0   7.2500
          97                                         Goldschmidt, Mr. George B 71.0   male       1         0      0      0  34.6542
         111                                    Porter, Mr. Walter Chamberlain 47.0   male       1         0      0      0  52.0000
         117                                              Connors, Mr. Patrick 70.5   male       3         0      0      0   7.7500
         125                                       White, Mr. Percival Wayland 54.0   male       1         0      0      1  77.2875
         130                                                Ekstrom, Mr. Johan 45.0   male       3         0      0      0   6.9750
         133                    Robins, Mrs. Alexander A (Grace Charity Laury) 47.0 female       3         0      1      0  14.5000
         151                                        Bateman, Rev. Robert James 51.0   male       2         0      0      0  12.5250
         153                                                  Meo, Mr. Alfonzo 55.5   male       3         0      0      0   8.0500
         156                                       Williams, Mr. Charles Duane 51.0   male       1         0      0      1  61.3792
         168                   Skoog, Mrs. William (Anna Bernhardina Karlsson) 45.0 female       3         0      1      4  27.9000
         171                                         Van der hoef, Mr. Wyckoff 61.0   male       1         0      0      0  33.5000
         175                                           Smith, Mr. James Clinch 56.0   male       1         0      0      0  30.6958
         178                                        Isham, Miss. Ann Elizabeth 50.0 female       1         0      0      0  28.7125
         188                     Romaine, Mr. Charles Hallace ("Mr C Rolmane") 45.0   male       1         1      0      0  26.5500
         196                                              Lurette, Miss. Elise 58.0 female       1         1      0      0 146.5208
         204                                              Youseff, Mr. Gerious 45.5   male       3         0      0      0   7.2250
         223                                           Green, Mr. George Henry 51.0   male       3         0      0      0   8.0500
         233                                         Sjostedt, Mr. Ernst Adolf 59.0   male       2         0      0      0  13.5000
         250                                     Carter, Rev. Ernest Courtenay 54.0   male       2         0      1      0  26.0000
         253                                         Stead, Mr. William Thomas 62.0   male       1         0      0      0  26.5500
         260                                       Parrish, Mrs. (Lutie Davis) 50.0 female       2         1      0      1  26.0000
         263                                                 Taussig, Mr. Emil 52.0   male       1         0      1      1  79.6500
         269                     Graham, Mrs. William Thompson (Edith Junkins) 58.0 female       1         1      0      1 153.4625
         276                                 Andrews, Miss. Kornelia Theodosia 63.0 female       1         1      1      0  77.9583
         277                                 Lindblom, Miss. Augusta Charlotta 45.0 female       3         0      0      0   7.7500
         281                                                  Duane, Mr. Frank 65.0   male       3         0      0      0   7.7500
         300                   Baxter, Mrs. James (Helene DeLaudeniere Chaput) 50.0 female       1         1      0      1 247.5208
         318                                              Moraweck, Dr. Ernest 54.0   male       2         0      0      0  14.0000
         327                                         Nysveen, Mr. Johan Hansen 61.0   male       3         0      0      0   6.2375
         332                                               Partner, Mr. Austen 45.5   male       1         0      0      0  28.5000
         339                                             Dahl, Mr. Karl Edwart 45.0   male       3         1      0      0   8.0500
         340                                      Blackwell, Mr. Stephen Weart 45.0   male       1         0      0      0  35.5000
         363                                   Barbara, Mrs. (Catherine David) 45.0 female       3         0      0      1  14.4542
         367                  Warren, Mrs. Frank Manley (Anna Sophia Atkinson) 60.0 female       1         1      1      0  75.2500
         398                                           McKane, Mr. Peter David 46.0   male       2         0      0      0  26.0000
         407                                  Widegren, Mr. Carl/Charles Peter 51.0   male       3         0      0      0   7.7500
         435                                         Silvey, Mr. William Baird 50.0   male       1         0      1      0  55.9000
         439                                                 Fortune, Mr. Mark 64.0   male       1         0      1      4 263.0000
         441                       Hart, Mrs. Benjamin (Esther Ada Bloomfield) 45.0 female       2         1      1      1  26.2500
         450                                    Peuchen, Major. Arthur Godfrey 52.0   male       1         1      0      0  30.5000
         454                                          Goldenberg, Mr. Samuel L 49.0   male       1         1      1      0  89.1042
         457                                         Millet, Mr. Francis Davis 65.0   male       1         0      0      0  26.5500
         459                                               Toomey, Miss. Ellen 50.0 female       2         1      0      0  10.5000
         461                                               Anderson, Mr. Harry 48.0   male       1         1      0      0  26.5500
         463                                                 Gee, Mr. Arthur H 47.0   male       1         0      0      0  38.5000
         464                                      Milling, Mr. Jacob Christian 48.0   male       2         0      0      0  13.0000
         468                                        Smart, Mr. John Montgomery 56.0   male       1         0      0      0  26.5500
         483                                          Rouse, Mr. Richard Henry 50.0   male       3         0      0      0   8.0500
         484                                            Turkula, Mrs. (Hedwig) 63.0 female       3         1      0      0   9.5875
         488                                           Kent, Mr. Edward Austin 58.0   male       1         0      0      0  29.7000
         493                                        Molson, Mr. Harry Markland 55.0   male       1         0      0      0  30.5000
         494                                           Artagaveytia, Mr. Ramon 71.0   male       1         0      0      0  49.5042
         497                                    Eustis, Miss. Elizabeth Mussey 54.0 female       1         1      1      0  78.2667
         514                    Rothschild, Mrs. Martin (Elizabeth L. Barrett) 54.0 female       1         1      1      0  59.4000
         516                                      Walker, Mr. William Anderson 47.0   male       1         0      0      0  34.0208
         527                                              Ridsdale, Miss. Lucy 50.0 female       2         1      0      0  10.5000
         537                                 Butt, Major. Archibald Willingham 45.0   male       1         0      0      0  26.5500
         545                                        Douglas, Mr. Walter Donald 50.0   male       1         0      1      0 106.4250
         546                                      Nicholson, Mr. Arthur Ernest 64.0   male       1         0      0      0  26.0000
         556                                                Wright, Mr. George 62.0   male       1         0      0      0  26.5500
         557 Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan") 48.0 female       1         1      1      0  39.6000
         571                                                Harris, Mr. George 62.0   male       2         1      0      0  10.5000
         572                     Appleton, Mrs. Edward Dale (Charlotte Lamson) 53.0 female       1         1      2      0  51.4792
         583                                        Downton, Mr. William James 54.0   male       2         0      0      0  26.0000
         587                                           Jarvis, Mr. John Denzil 47.0   male       2         0      0      0  15.0000
         588                                  Frolicher-Stehli, Mr. Maxmillian 60.0   male       1         1      1      1  79.2000
         592                   Stephenson, Mrs. Walter Bertram (Martha Eustis) 52.0 female       1         1      1      0  78.2667
         593                                        Elsbury, Mr. William James 47.0   male       3         0      0      0   7.2500
         598                                               Johnson, Mr. Alfred 49.0   male       3         0      0      0   0.0000
         600                      Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan") 49.0   male       1         1      1      0  56.9292
         626                                             Sutton, Mr. Frederick 61.0   male       1         0      0      0  32.3208
         627                                    Kirkland, Rev. Charles Leonard 57.0   male       2         0      0      0  12.3500
         631                              Barkworth, Mr. Algernon Henry Wilson 80.0   male       1         1      0      0  30.0000
         632                                       Lundahl, Mr. Johan Svensson 51.0   male       3         0      0      0   7.0542
         646                                         Harper, Mr. Henry Sleeper 48.0   male       1         1      1      0  76.7292
         648                               Simonius-Blumer, Col. Oberst Alfons 56.0   male       1         1      0      0  35.5000
         660                                        Newell, Mr. Arthur Webster 58.0   male       1         0      0      2 113.2750
         661                                     Frauenthal, Dr. Henry William 50.0   male       1         1      2      0 133.6500
         663                                        Colley, Mr. Edward Pomeroy 47.0   male       1         0      0      0  25.5875
         673                                       Mitchell, Mr. Henry Michael 70.0   male       2         0      0      0  10.5000
         685                                 Brown, Mr. Thomas William Solomon 60.0   male       2         0      1      1  39.0000
         695                                                   Weir, Col. John 60.0   male       1         0      0      0  26.5500
         696                                        Chapman, Mr. Charles Henry 52.0   male       2         0      0      0  13.5000
         699                                          Thayer, Mr. John Borland 49.0   male       1         0      1      1 110.8833
         707                                     Kelly, Mrs. Florence "Fannie" 45.0 female       2         1      0      0  13.5000
         713                                          Taylor, Mr. Elmer Zebley 48.0   male       1         1      1      0  52.0000
         715                                             Greenberg, Mr. Samuel 52.0   male       2         0      0      0  13.0000
         724                                           Hodges, Mr. Henry Price 50.0   male       2         0      0      0  13.0000
         737                           Ford, Mrs. Edward (Margaret Ann Watson) 48.0 female       3         0      1      3  34.3750
         746                                      Crosby, Capt. Edward Gifford 70.0   male       1         0      1      1  71.0000
         755                                  Herman, Mrs. Samuel (Jane Laver) 48.0 female       2         1      1      2  65.0000
         766                              Hogeboom, Mrs. John C (Anna Andrews) 51.0 female       1         1      1      0  77.9583
         772                                           Jensen, Mr. Niels Peder 48.0   male       3         0      0      0   7.8542
         773                                                 Mack, Mrs. (Mary) 57.0 female       2         0      0      0  10.5000
         775                             Hocking, Mrs. Elizabeth (Eliza Needs) 54.0 female       2         1      1      3  23.0000
         790                                          Guggenheim, Mr. Benjamin 46.0   male       1         0      0      0  79.2000
         797                                       Leader, Dr. Alice (Farnham) 49.0 female       1         1      0      0  25.9292
         821                Hays, Mrs. Charles Melville (Clara Jennings Gregg) 52.0 female       1         1      1      1  93.5000
         830                         Stone, Mrs. George Nelson (Martha Evelyn) 62.0 female       1         1      0      0  80.0000
         852                                               Svensson, Mr. Johan 74.0   male       3         0      0      0   7.7750
         857                        Wick, Mrs. George Dennick (Mary Hitchcock) 45.0 female       1         1      1      1 164.8667
         858                                            Daly, Mr. Peter Denis  51.0   male       1         1      0      0  26.5500
         863               Swift, Mrs. Frederick Joel (Margaret Welles Barron) 48.0 female       1         1      0      0  25.9292
         872                  Beckwith, Mrs. Richard Leonard (Sallie Monypeny) 47.0 female       1         1      1      1  52.5542
         874                                       Vander Cruyssen, Mr. Victor 47.0   male       3         0      0      0   9.0000
         880                     Potter, Mrs. Thomas Jr (Lily Alexenia Wilson) 56.0 female       1         1      0      1  83.1583

In [7]:
#Выведите часть таблицы с пассажирами, возраст которых меньше 44 лет и которые мужского пола - 2 балла
male_pass_under_44 = df[(df['Age'] < 44) & (df['Sex'] == 'male')][columns_to_show]
print(male_pass_under_44.to_string(index=False))

 PassengerId                                            Name   Age  Sex  Pclass  Survived  SibSp  Parch     Fare
           1                         Braund, Mr. Owen Harris 22.00 male       3         0      1      0   7.2500
           5                        Allen, Mr. William Henry 35.00 male       3         0      0      0   8.0500
           8                  Palsson, Master. Gosta Leonard  2.00 male       3         0      3      1  21.0750
          13                  Saundercock, Mr. William Henry 20.00 male       3         0      0      0   8.0500
          14                     Andersson, Mr. Anders Johan 39.00 male       3         0      1      5  31.2750
          17                            Rice, Master. Eugene  2.00 male       3         0      4      1  29.1250
          21                            Fynney, Mr. Joseph J 35.00 male       2         0      0      0  26.0000
          22                           Beesley, Mr. Lawrence 34.00 male       2         1      0      0  13.0000
          24                    Sloper, Mr. William Thompson 28.00 male       1         1      0      0  35.5000
          28                  Fortune, Mr. Charles Alexander 19.00 male       1         0      3      2 263.0000
          31                        Uruchurtu, Don. Manuel E 40.00 male       1         0      0      0  27.7208
          35                         Meyer, Mr. Edgar Joseph 28.00 male       1         0      1      0  82.1708
          36                  Holverson, Mr. Alexander Oskar 42.00 male       1         0      1      0  52.0000
          38                        Cann, Mr. Ernest Charles 21.00 male       3         0      0      0   8.0500
          51                      Panula, Master. Juha Niilo  7.00 male       3         0      4      1  39.6875
          52                    Nosworthy, Mr. Richard Cater 21.00 male       3         0      0      0   7.8000
          58                             Novel, Mr. Mansouer 28.50 male       3         0      0      0   7.2292
          60              Goodwin, Master. William Frederick 11.00 male       3         0      5      2  46.9000
          61                           Sirayanian, Mr. Orsen 22.00 male       3         0      0      0   7.2292
          64                           Skoog, Master. Harald  4.00 male       3         0      3      2  27.9000
          68                        Crease, Mr. Ernest James 19.00 male       3         0      0      0   8.1583
          70                               Kink, Mr. Vincenz 26.00 male       3         0      2      0   8.6625
          71                      Jenkin, Mr. Stephen Curnow 32.00 male       2         0      0      0  10.5000
          73                            Hood, Mr. Ambrose Jr 21.00 male       2         0      0      0  73.5000
          74                     Chronopoulos, Mr. Apostolos 26.00 male       3         0      1      0  14.4542
          75                                   Bing, Mr. Lee 32.00 male       3         1      0      0  56.4958
          76                         Moen, Mr. Sigurd Hansen 25.00 male       3         0      0      0   7.6500
          79                   Caldwell, Master. Alden Gates  0.83 male       2         1      0      2  29.0000
          81                            Waelens, Mr. Achille 22.00 male       3         0      0      0   9.0000
          82                     Sheerlinck, Mr. Jan Baptist 29.00 male       3         1      0      0   9.5000
          84                         Carrau, Mr. Francisco M 28.00 male       1         0      0      0  47.1000
          87                          Ford, Mr. William Neal 16.00 male       3         0      1      3  34.3750
          90                          Celotti, Mr. Francesco 24.00 male       3         0      0      0   8.0500
          91                            Christmann, Mr. Emil 29.00 male       3         0      0      0   8.0500
          92                      Andreasson, Mr. Paul Edvin 20.00 male       3         0      0      0   7.8542
          94                         Dean, Mr. Bertram Frank 26.00 male       3         0      1      2  20.5750
          98                 Greenfield, Mr. William Bertram 23.00 male       1         1      0      1  63.3583
         100                               Kantor, Mr. Sinai 34.00 male       2         0      1      0  26.0000
         103                       White, Mr. Richard Frasar 21.00 male       1         0      0      1  77.2875
         104                      Johansson, Mr. Gustaf Joel 33.00 male       3         0      0      0   8.6542
         105                  Gustafsson, Mr. Anders Vilhelm 37.00 male       3         0      2      0   7.9250
         106                           Mionoff, Mr. Stoytcho 28.00 male       3         0      0      0   7.8958
         109                                 Rekic, Mr. Tido 38.00 male       3         0      0      0   7.8958
         113                          Barton, Mr. David John 22.00 male       3         0      0      0   8.0500
         116                           Pekoniemi, Mr. Edvard 21.00 male       3         0      0      0   7.9250
         118                 Turpin, Mr. William John Robert 29.00 male       2         0      1      0  21.0000
         119                        Baxter, Mr. Quigg Edmond 24.00 male       1         0      0      1 247.5208
         121                     Hickman, Mr. Stanley George 21.00 male       2         0      2      0  73.5000
         123                            Nasser, Mr. Nicholas 32.50 male       2         0      1      0  30.0708
         126                    Nicola-Yarred, Master. Elias 12.00 male       3         1      1      0  11.2417
         128                       Madsen, Mr. Fridtjof Arne 24.00 male       3         1      0      0   7.1417
         131                            Drazenoic, Mr. Jozef 33.00 male       3         0      0      0   7.8958
         132                  Coelho, Mr. Domingos Fernandeo 20.00 male       3         0      0      0   7.0500
         135                  Sobey, Mr. Samuel James Hayden 25.00 male       2         0      0      0  13.0000
         136                              Richard, Mr. Emile 23.00 male       2         0      0      0  15.0458
         138                     Futrelle, Mr. Jacques Heath 37.00 male       1         0      1      0  53.1000
         139                             Osen, Mr. Olaf Elon 16.00 male       3         0      0      0   9.2167
         140                              Giglio, Mr. Victor 24.00 male       1         0      0      0  79.2000
         144                             Burke, Mr. Jeremiah 19.00 male       3         0      0      0   6.7500
         145                      Andrew, Mr. Edgardo Samuel 18.00 male       2         0      0      0  11.5000
         146                    Nicholls, Mr. Joseph Charles 19.00 male       2         0      1      1  36.7500
         147    Andersson, Mr. August Edvard ("Wennerstrom") 27.00 male       3         1      0      0   7.7958
         149        Navratil, Mr. Michel ("Louis M Hoffman") 36.50 male       2         0      0      2  26.0000
         150               Byles, Rev. Thomas Roussel Davids 42.00 male       2         0      0      0  13.0000
         154                 van Billiard, Mr. Austin Blyler 40.50 male       3         0      0      2  14.5000
         158                                 Corn, Mr. Harry 30.00 male       3         0      0      0   8.0500
         163                      Bengtsson, Mr. John Viktor 26.00 male       3         0      0      0   7.7750
         164                                 Calic, Mr. Jovo 17.00 male       3         0      0      0   8.6625
         165                    Panula, Master. Eino Viljami  1.00 male       3         0      4      1  39.6875
         166 Goldsmith, Master. Frank John William "Frankie"  9.00 male       3         1      0      2  20.5250
         170                                   Ling, Mr. Lee 28.00 male       3         0      0      0  56.4958
         172                            Rice, Master. Arthur  4.00 male       3         0      4      1  29.1250
         174                       Sivola, Mr. Antti Wilhelm 21.00 male       3         0      0      0   7.9250
         176                          Klasen, Mr. Klas Albin 18.00 male       3         0      1      1   7.8542
         179                              Hale, Mr. Reginald 30.00 male       2         0      0      0  13.0000
         180                             Leonard, Mr. Lionel 36.00 male       3         0      0      0   0.0000
         183           Asplund, Master. Clarence Gustaf Hugo  9.00 male       3         0      4      2  31.3875
         184                       Becker, Master. Richard F  1.00 male       2         1      2      1  39.0000
         189                                Bourke, Mr. John 40.00 male       3         0      1      1  15.5000
         190                             Turcin, Mr. Stjepan 36.00 male       3         0      0      0   7.8958
         192                           Carbines, Mr. William 19.00 male       2         0      0      0  13.0000
         194                      Navratil, Master. Michel M  3.00 male       2         1      1      1  26.0000
         198                Olsen, Mr. Karl Siegwart Andreas 42.00 male       3         0      0      1   8.4042
         201                  Vande Walle, Mr. Nestor Cyriel 28.00 male       3         0      0      0   9.5000
         203                      Johanson, Mr. Jakob Alfred 34.00 male       3         0      0      0   6.4958
         205                        Cohen, Mr. Gurshon "Gus" 18.00 male       3         1      0      0   8.0500
         207                      Backstrom, Mr. Karl Alfred 32.00 male       3         0      1      0  15.8500
         208                     Albimona, Mr. Nassef Cassem 26.00 male       3         1      0      0  18.7875
         210                                Blank, Mr. Henry 40.00 male       1         1      0      0  31.0000
         211                                  Ali, Mr. Ahmed 24.00 male       3         0      0      0   7.0500
         213                          Perkin, Mr. John Henry 22.00 male       3         0      0      0   7.2500
         214                     Givard, Mr. Hans Kristensen 30.00 male       2         0      0      0  13.0000
         218                    Jacobsohn, Mr. Sidney Samuel 42.00 male       2         0      1      0  27.0000
         220                              Harris, Mr. Walter 30.00 male       2         0      0      0  10.5000
         221                  Sunderland, Mr. Victor Francis 16.00 male       3         1      0      0   8.0500
         222                            Bracken, Mr. James H 27.00 male       2         0      0      0  13.0000
         225                    Hoyt, Mr. Frederick Maxfield 38.00 male       1         1      1      0  90.0000
         226                    Berglund, Mr. Karl Ivar Sven 22.00 male       3         0      0      0   9.3500
         227                       Mellors, Mr. William John 19.00 male       2         1      0      0  10.5000
         228                 Lovell, Mr. John Hall ("Henry") 20.50 male       3         0      0      0   7.2500
         229                       Fahlstrom, Mr. Arne Jonas 18.00 male       2         0      0      0  13.0000
         232                        Larsson, Mr. Bengt Edvin 29.00 male       3         0      0      0   7.7750
         235               Leyson, Mr. Robert William Norman 24.00 male       2         0      0      0  10.5000
         239                 Pengelly, Mr. Frederick William 19.00 male       2         0      0      0  10.5000
         240                          Hunt, Mr. George Henry 33.00 male       2         0      0      0  12.2750
         243                 Coleridge, Mr. Reginald Charles 29.00 male       2         0      0      0  10.5000
         244                   Maenpaa, Mr. Matti Alexanteri 22.00 male       3         0      0      0   7.1250
         245                            Attalah, Mr. Sleiman 30.00 male       3         0      0      0   7.2250
         249                   Beckwith, Mr. Richard Leonard 37.00 male       1         1      1      1  52.5542
         254                        Lobb, Mr. William Arthur 30.00 male       3         0      1      0  16.1000
         262               Asplund, Master. Edvin Rojj Felix  3.00 male       3         1      4      2  31.3875
         264                           Harrison, Mr. William 40.00 male       1         0      0      0   0.0000
         266                               Reeves, Mr. David 36.00 male       2         0      0      0  10.5000
         267                       Panula, Mr. Ernesti Arvid 16.00 male       3         0      4      1  39.6875
         268                        Persson, Mr. Ernst Ulrik 25.00 male       3         1      1      0   7.7750
         272                    Tornquist, Mr. William Henry 25.00 male       3         1      0      0   0.0000
         274                           Natsch, Mr. Charles H 37.00 male       1         0      0      1  29.7000
         279                              Rice, Master. Eric  7.00 male       3         0      4      1  29.1250
         282                Olsson, Mr. Nils Johan Goransson 28.00 male       3         0      0      0   7.8542
         283                       de Pelsmaeker, Mr. Alfons 16.00 male       3         0      0      0   9.5000
         284                      Dorking, Mr. Edward Arthur 19.00 male       3         1      0      0   8.0500
         286                             Stankovic, Mr. Ivan 33.00 male       3         0      0      0   8.6625
         287                         de Mulder, Mr. Theodore 30.00 male       3         1      0      0   9.5000
         288                            Naidenoff, Mr. Penko 22.00 male       3         0      0      0   7.8958
         289                            Hosono, Mr. Masabumi 42.00 male       2         1      0      0  13.0000
         293                          Levy, Mr. Rene Jacques 36.00 male       2         0      0      0  12.8750
         295                                Mineff, Mr. Ivan 24.00 male       3         0      0      0   7.8958
         297                              Hanna, Mr. Mansour 23.50 male       3         0      0      0   7.2292
         303                 Johnson, Mr. William Cahoone Jr 19.00 male       3         0      0      0   0.0000
         306                  Allison, Master. Hudson Trevor  0.92 male       1         1      1      2 151.5500
         309                             Abelson, Mr. Samuel 30.00 male       2         0      1      0  24.0000
         314                          Hendekovic, Mr. Ignjac 28.00 male       3         0      0      0   7.8958
         315                              Hart, Mr. Benjamin 43.00 male       2         0      1      1  26.2500
         321                              Dennis, Mr. Samuel 22.00 male       3         0      0      0   7.2500
         322                                Danoff, Mr. Yoto 27.00 male       3         0      0      0   7.8958
         333                       Graham, Mr. George Edward 38.00 male       1         0      0      1 153.4625
         334                 Vander Planke, Mr. Leo Edmondus 16.00 male       3         0      2      0  18.0000
         337                       Pears, Mr. Thomas Clinton 29.00 male       1         0      1      0  66.6000
         341                  Navratil, Master. Edmond Roger  2.00 male       2         1      1      1  26.0000
         343                      Collander, Mr. Erik Gustaf 28.00 male       2         0      0      0  13.0000
         344      Sedgwick, Mr. Charles Frederick Waddington 25.00 male       2         0      0      0  13.0000
         345                         Fox, Mr. Stanley Hubert 36.00 male       2         0      0      0  13.0000
         349          Coutts, Master. William Loch "William"  3.00 male       3         1      1      1  15.9000
         350                                Dimic, Mr. Jovan 42.00 male       3         0      0      0   8.6625
         351                          Odahl, Mr. Nils Martin 23.00 male       3         0      0      0   9.2250
         353                              Elias, Mr. Tannous 15.00 male       3         0      1      1   7.2292
         354                       Arnold-Franchi, Mr. Josef 25.00 male       3         0      1      0  17.8000
         356                     Vanden Steen, Mr. Leo Peter 28.00 male       3         0      0      0   9.5000
         361                              Skoog, Mr. Wilhelm 40.00 male       3         0      1      4  27.9000
         362                       del Carlo, Mr. Sebastiano 29.00 male       2         0      1      0  27.7208
         364                                 Asim, Mr. Adola 35.00 male       3         0      0      0   7.0500
         366                  Adahl, Mr. Mauritz Nils Martin 30.00 male       3         0      0      0   7.2500
         371                     Harder, Mr. George Achilles 25.00 male       1         1      1      0  55.4417
         372                       Wiklund, Mr. Jakob Alfred 18.00 male       3         0      1      0   6.4958
         373                      Beavan, Mr. William Thomas 19.00 male       3         0      0      0   8.0500
         374                             Ringhini, Mr. Sante 22.00 male       1         0      0      0 135.6333
         378                       Widener, Mr. Harry Elkins 27.00 male       1         0      0      2 211.5000
         379                             Betros, Mr. Tannous 20.00 male       3         0      0      0   4.0125
         380                     Gustafsson, Mr. Karl Gideon 19.00 male       3         0      0      0   7.7750
         383                              Tikkanen, Mr. Juho 32.00 male       3         0      0      0   7.9250
         386                       Davies, Mr. Charles Henry 18.00 male       2         0      0      0  73.5000
         387                 Goodwin, Master. Sidney Leonard  1.00 male       3         0      5      2  46.9000
         391                      Carter, Mr. William Ernest 36.00 male       1         1      1      2 120.0000
         392                          Jansson, Mr. Carl Olof 21.00 male       3         1      0      0   7.7958
         393                    Gustafsson, Mr. Johan Birger 28.00 male       3         0      2      0   7.9250
         396                             Johansson, Mr. Erik 22.00 male       3         0      0      0   7.7958
         399                                Pain, Dr. Alfred 23.00 male       2         0      0      0  10.5000
         401                              Niskanen, Mr. Juha 39.00 male       3         1      0      0   7.9250
         402                                 Adams, Mr. John 26.00 male       3         0      0      0   8.0500
         404                  Hakkarainen, Mr. Pekka Pietari 28.00 male       3         0      1      0  15.8500
         406                              Gale, Mr. Shadrach 34.00 male       2         0      1      0  21.0000
         408                  Richards, Master. William Rowe  3.00 male       2         1      1      1  18.7500
         409               Birkeland, Mr. Hans Martin Monsen 21.00 male       3         0      0      0   7.7750
         419                      Matthews, Mr. William John 30.00 male       2         0      0      0  13.0000
         422                             Charters, Mr. David 21.00 male       3         0      0      0   7.7333

In [8]:
#Выведите количества n-местных кабин (в которых было 2, 3, 4, ... человека) - 1 балл
cabin_occ = df.groupby('Cabin').size().reset_index(name='total_passeng_in_cabin')
cabin_over_2 = cabin_occ[cabin_occ['total_passeng_in_cabin'] > 1]
print(cabin_over_2)

               Cabin  total_passeng_in_cabin
17               B18                       2
19               B20                       2
20               B22                       2
21               B28                       2
24               B35                       2
31               B49                       2
32                B5                       2
34       B51 B53 B55                       2
35   B57 B59 B63 B66                       2
36           B58 B60                       2
40               B77                       2
47           B96 B98                       4
55              C123                       2
56              C124                       2
57              C125                       2
58              C126                       2
61                C2                       2
62           C22 C26                       3
63       C23 C25 C27                       4
71               C52                       2
74               C65                       2
75               C68                       2
78               C78                       2
80               C83                       2
86               C92                       2
87               C93                       2
90                 D                       3
94               D17                       2
96               D20                       2
98               D26                       2
101              D33                       2
102              D35                       2
103              D36                       2
116             E101                       3
118             E121                       2
120              E24                       2
121              E25                       2
123              E33                       2
128              E44                       2
134              E67                       2
137               E8                       2
140            F G73                       2
141               F2                       3
142              F33                       3
144               F4                       2
145               G6                       4